.header {
  width: 100%; /* Ocupa toda a largura da tela */
  height: 80px;
  background-color: var(--primary-color); /* Cor roxa */
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 20px 20px; /* Bordas arredondadas na parte inferior */
  box-shadow: 0 3px 3px var(--shadow); /* Sombra opcional */
}

.logo-header {
  width: 35px;
  height: 35px;
  position: relative;
  left: 20px;
  
}

.nav {
  position: relative;
  right: 50px;
  
  
}

.nav-links {
  list-style: none;
  display: flex;

}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  padding-right: 3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.nav-links a:hover {
  color: #c7c4c4; /* Cor ao passar o mouse */
}

