:root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #5e17eb;
  --secondary-color: #ecfaff;
  --tertiary-color: #17b8eb;
  --soft-gray: #848383;
  --white: #ffff;
  --shadow: #d1cccc;
  --circles-color: linear-gradient(
    135deg,
    rgba(94, 23, 235, 0) 0%,
    rgba(94, 23, 235, 0.02) 25%,
    rgba(94, 23, 235, 0.19) 50%,
    rgba(94, 23, 235, 0.38) 75%
  );
}

body {
  background-color: #ecfaff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

