.poolContainer {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.poolLogoAndPoolType {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 60px;
  gap: 30px;
}

.poolLogo {
  width: 65px;
  height: 65px;
}

.poolType {
  font-size: 60px;
  color: var(--primary-color);
  font-weight: bold;
}

.poolTitle {
  font-size: 30px;
  color: #848383;
  align-self: flex-start;
  margin-left: 125px;
  margin-bottom: 25px;
  font-weight: normal;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalPrice {
  color: #848383;
  font-size: 18px;
  font-weight: normal;
  align-self: flex-end;
}
