.poolContainer {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.poolPageContent {
  width: 100%;
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.poolLogoAndPoolType {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 5px;
}

.poolTitle {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Verdana, monospace;
  font-size: 60px;
  color: var(--primary-color);
  font-weight: bold;
}

.tableAndPriceContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 20px;
  width: 100%;
}

.totalPrice {
  margin-top: 20px;
  color: #3b3a3a;
  font-size: 15px;
  font-weight: 600
}

.addGamesAndContestTitle {
  color: var(--primary-color);
  font-size: 30px;
  padding: 30px;
}

@media screen and (max-width: 600px) {
  .poolLogoAndPoolType,
  .poolTitle {
    margin-left: 0;
  }
  .tableAndPriceContainer {
    padding: 0 10px;
  }
}
