.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.buttons {
    background-color: #ffff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 20px;
    margin: 2px;
    cursor: pointer;
}

@media (max-width: 860px) {
    .buttonsContainer {
        width: 500px;
    }
    .buttons {
        width: 45px;
        height: 45px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .buttonsContainer {
        width: 400px;
    }

    .buttons {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .buttonsContainer {
        width: 300px;
    }
    
    .buttons {
        width: 35px;
        height: 35px;
        font-size: 12;
    }
}

.buttons:hover {
    background-color: var(--primary-color);
    border: 1px solid #ffff;
    color: #ffff;
}

.buttons.clicked {
    background-color: #874aff;
    color: #ffff;
}

.buttons.clicked:hover {
    background-color: var(--primary-color);
    border: 1px solid #ffff;
}

.selectionCount {
    color: #848383
}