.card {
  width: 1000px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1.3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-height: 50vh;
  }

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cardTitle  {
  color: rgb(115, 115, 115);
}

.card p {
  color: rgb(115, 115, 115);
  font-family: DejaVu sans Mono, monospace;
}

.cardType {
  position: absolute;
  left: 400px;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}