.card {
  width: 90%;
  max-width: 1000px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1.3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-height: 50vh;
  position: relative;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.titleContainer {
  max-width: 400px;
  word-wrap: break-word;
  width: 100%;
}

.cardTitle {
  font-size: clamp(1rem, 2vw, 2rem);
  color: rgb(115, 115, 115);
}

.cardType, .cardPrice {
  font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}

.card p {
  color: rgb(115, 115, 115);
  font-family: DejaVu sans Mono, monospace;
}

.cardType {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
}

.card:hover .deleteButton {
  display: flex;
}

/* Media Query para telas menores */
@media (max-width: 860px) {
  .titleContainer {
    max-width: 100px; /* Reduz a largura máxima para telas menores */
  }
}

@media (max-width: 600px) {
  .titleContainer {
    max-width: 90px; /* Ajuste para telas ainda menores */
  }
}

@media (max-width: 400px) {
  .titleContainer {
    max-width: 80px; /* Ajuste para telas muito pequenas */
  }
}