/*primeira section*/

.presentation {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 550px;
    height: 405px;
    position: relative;
    left: 5%;
  }
  
  .circle {
    border-radius: 50%;
    background: var(--circles-color);
    position: absolute;
  }
  .largeCircle {
    width: 400px;
    height: 400px;
  }
  
  .mediumCircle {
    width: 100px;
    height: 100px;
    top: 110px;
    left: 410px;
  }
  
  .smallCircle {
    width: 60px;
    height: 60px;
    top: 210px;
    left: 400px;
  }
  
  .textPresentation {
    color: var(--primary-color);
    position: absolute;
  }
  
  .title {
    font-size: 125px;
    top: 120px;
    left: 60px;
  }
  
  .slogan {
    width: 240px;
    height: 60px;
    text-align: center;
    position: relative;
    right: 10%;
  }
  
  .text {
    font-size: 20px;
  }
  
  .highlight {
    color: var(--white);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 1px 5px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: bold;
    background-color: var(--primary-color);
  }
  
  /* Responsividade com Media Queries */
  @media (max-width: 860px) {
    .slogan {
      top: auto; /* Remove o deslocamento superior */
      bottom: 220px; /* Move o slogan para 40px da parte inferior */
      right: 50%; /* Ajusta a distância da lateral direita */
      text-align: center; /* Alinha o texto à direita */
      font-size: 40px;
    }
  }
  
  @media (max-width: 700px) {
    .slogan {
      top: auto;
      bottom: 220px;
      right: 25%; /* Ajusta para telas muito pequenas */
      font-size: 18px; /* Reduz o tamanho da fonte */
      text-align: center; /* Centraliza o texto */
    }
  }
  
  @media (max-width: 480px) {
    .slogan {
      margin: 20px auto; /* Centraliza o texto horizontalmente */
      font-size: 16px; /* Reduz ainda mais o tamanho da fonte */
    }
  }
  
/*segunda section*/
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.btnCreatePool {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #ffff;
    background-color: #874aff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btnCreatePool:hover {
    background-color: var(--primary-color);
}


/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .closeButton {
    position: absolute;
    top: 7px;
    right: 11px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #666;
  }
  
  .closeButton:hover {
    color: #000;
  }

  .titleModal{
    color: var(--primary-color);
    font-size: 23px;
  }
  
  .labels {
    color: #666;
    font-size: 15px;
    text-align: left;
  }

  .poolName, .lotteryChoice {
    padding: 10px;
    font-size: 14px;
    width: 100%; 
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .lotteryChoice:hover {
    background-color: #ccc;
    cursor: pointer;
  }
  

  .saveButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }

  .saveButton:hover {
    background-color: #874aff; 
  }