/*primeira section*/

.presentation {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 550px;
    height: 405px;
    position: relative;
    left: 5%;
  }

  .circle {
    border-radius: 50%;
    background: var(--circles-color);
    position: absolute;
  }
  .largeCircle {
    width: 400px;
    height: 400px;
  }

  .mediumCircle {
    width: 100px;
    height: 100px;
    top: 110px;
    left: 410px;
  }

  .smallCircle {
    width: 60px;
    height: 60px;
    top: 210px;
    left: 400px;
  }

  .textPresentation {
    color: var(--primary-color);
    position: absolute;
  }

  .title {
    font-size: 125px;
    top: 120px;
    left: 60px;
  }

  .slogan {
    width: 240px;
    height: 60px;
    text-align: center;
    position: relative;
    right: 10%;
  }

  .text {
    font-size: 20px;
  }

  .highlight {
    color: var(--white);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 1px 5px;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--primary-color);
  }

  /* Responsividade com Media Queries */
  @media (max-width: 860px) {
    .logo {
      width: 400px;
      height: 300px; 
    }
  
    .title {
      font-size: 90px;
      top: 90px;
      left: 40px;
    }
  
    .largeCircle {
      width: 300px;
      height: 300px;
    }
  
    .mediumCircle {
      width: 80px;
      height: 80px;
      top: 80px;
      left: 310px;
    }
  
    .smallCircle {
      width: 50px;
      height: 50px;
      top: 160px;
      left: 300px;
    }

    .slogan {
      top: auto;
      bottom: 220px; 
      right: 50%;
      text-align: center;
      font-size: 18px;
    }
  }
  
  @media (max-width: 600px) {
    .logo {
      width: 300px;
      height: 230px;
    }
  
    .title {
      font-size: 70px;
      top: 70px;
      left: 30px;
    }
  
    .largeCircle {
      width: 220px;
      height: 220px;
    }
  
    .mediumCircle {
      width: 60px;
      height: 60px;
      top: 60px;
      left: 230px;
    }
  
    .smallCircle {
      width: 40px;
      height: 40px;
      top: 120px;
      left: 220px;
    }

    .slogan {
      top: auto;
      bottom: 220px;
      right: 25%; 
      font-size: 18px; 
      text-align: center; 
    }
  }
  
  @media (max-width: 400px) {
    .logo {
      width: 200px;
      height: 180px;
    }
  
    .title {
      font-size: 50px;
      top: 50px;
      left: 20px;
    }
  
    .largeCircle {
      width: 160px;
      height: 160px;
    }
  
    .mediumCircle {
      width: 50px;
      height: 50px;
      top: 40px;
      left: 170px;
    }
  
    .smallCircle {
      width: 30px;
      height: 30px;
      top: 90px;
      left: 160px;
    }

    .slogan {
      margin: 20px auto; 
      font-size: 16px; 
    }
  }

  @media (max-width: 700px) {

  }

/*segunda section*/
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cardColumnTitlesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 970px;
  padding-left: 15px;
}

.type {
position: absolute;
left: 50%;
transform: translateX(-50%);
}

.cardColumnTitles {
  color: #848383;
}