.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 550px;
  height: 405px;
  position: relative;
  left: 5%;
}

.circle {
  border-radius: 50%;
  background: var(--circles-color);
  position: absolute;
}
.large-circle {
  width: 400px;
  height: 400px;
}

.medium-circle {
  width: 100px;
  height: 100px;
  top: 110px;
  left: 410px;
}

.small-circle {
  width: 60px;
  height: 60px;
  top: 210px;
  left: 400px;
}

.text-presentation {
  color: var(--primary-color);
  position: absolute;
}

.title {
  font-size: 125px;
  top: 120px;
  left: 60px;
}

.slogan {
  width: 240px;
  height: 60px;
  text-align: center;
  position: relative;
  right: 10%;
}

.text {
  font-size: 20px;
}

.highlight {
  color: var(--white);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 1px 5px; /* Espaçamento interno */
  text-decoration: none; /* Remove o sublinhado padrão */
  font-weight: bold;
  background-color: var(--primary-color);
}

/* Responsividade com Media Queries */
@media (max-width: 860px) {
  .slogan {
    top: auto; /* Remove o deslocamento superior */
    bottom: 220px; /* Move o slogan para 40px da parte inferior */
    right: 50%; /* Ajusta a distância da lateral direita */
    text-align: center; /* Alinha o texto à direita */
    font-size: 40px;
  }
}

@media (max-width: 700px) {
  .slogan {
    top: auto;
    bottom: 220px;
    right: 25%; /* Ajusta para telas muito pequenas */
    font-size: 18px; /* Reduz o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
  }
}

@media (max-width: 480px) {
  .slogan {
    margin: 20px auto; /* Centraliza o texto horizontalmente */
    font-size: 16px; /* Reduz ainda mais o tamanho da fonte */
  }
}
